/*Nessa atividade estamos usando um projeto que fizemos no figma de desktop e celular, e estamos deixando ele responsivo usando códigos novos e entendendo a lógica.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --black: #000;
    --gray: #5e5e5e;
    --white: #fff;
    --red: #f00;
}

.container{
    min-width: 440px;
    max-width: 1400px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--black);
    padding: 20px 0;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--black);
}

.user-info h3{
    color: var(--gray);
    font-size: 1rem;
}

.title{
    font-size: 1.5rem;
}

.btn-login{
    padding: 8px 16px;
    border-radius: 12px;
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.menu{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*Menu responsivo escondido por padrão (comportamento)*/
.nav-menu{
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.user-responsivo{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:576px) {
    .user, .desktop-login{ /*Faz os elementos desaparecerem*/
        display: none;
    }
    .menu{ /*Faz o botão de menu aparecer*/
        display: block;
    }
    main{
        display: grid;   
        grid-template-columns: 1fr;
        align-items: center;
    }
}

.img-box{
    width: 100%;
    position: relative;
}

.foto{
    width: 100%;
    height: 250px;
}

.interacao{
    background-color: rgba(0, 0, 0, 0.793);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.like{
    display: flex;
    align-items: center;
    gap: 10px;
}

.like img{
    width: 25px;
    height: 25px;
}

.like p{
    font-size: 1.2rem;
}

/*Footer*/
footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

.footer-icons img{
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

@media (min-width:576px) {
    main{
        display: grid;   
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10px;
    }
}

@media (min-width:992px) {
    main{
        display: grid;   
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 10px;
    }
}

.btn-like{
    cursor: pointer;
}